body {
   background: #0ac2d2; 
}

.Title, .Subtitle {
    color: white;
    text-align: center;
}

.Title {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 35px;
    padding-top: 10%;

}

.Subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
