body {
   background: #31c0e3; 
}

.Title, .Subtitle {
    color: white;
    text-align: center;
}

.Title {
    font-family: 'Julius Sans One', sans-serif;
}

.Subtitle {
    font-family: 'Montserrat', sans-serif;
}